body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: black;
  width: 30rem;
}

.top-div {
  display: flex;
  flex-direction: column;
  padding: 12px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.stich {
  display: flex;
  align-items: center;
}

.stich img {
  margin-right: 10px;
}

.stich h1 {
  font-size: 24px;
  margin: 0;
}

.close-btn {
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

.close-btn:hover {
  color: black;
}

.addContext-btn {
  display: flex;
  align-items: center;
  background-color: #e9e9e9;
  border: none;
  padding: 4px 4px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 10px;
}

.addContext-btn p {
  margin: 0;
  margin-left: 10px;
}

.text-area-div {
  margin-top: 10px;
  width: 100%;
}

.text-area {
  width: 90%;
  height: 150px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  resize: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.text-area:focus {
  outline: none;
  border-color: #4a90e2;
  box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
}

.search-div {
  align-items: end;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}

.type {
  display: flex;
  gap: 10px;
}
