body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: black;
  width: 40rem;
  padding: 16px;
}

.top-div {
  display: flex;
  flex-direction: column;
}

.ask-ai {
  padding: 5px;
  cursor: pointer;
}

.translate {
  padding: 5px;
  cursor: pointer;
}

/* .stich-div {
  border-right: 1px solid red;
} */

.header {
  display: flex;
  /* border-bottom: 1px solid red; */
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.tabs {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 100%;
}

.stich {
  display: flex;
  gap: 4px;
  align-items: center;
}

.stich-title {
  font-size: larger;
  font-weight: bold;
}

.stich-icon {
  width: 25px;
  height: 25px;
  color: #4a90e2;
  font-weight: bold;
}

.stich h1 {
  font-size: 24px;
  margin: 0;
}

.close-btn {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

.close-btn:hover {
  color: #1955db;
}

.addContext-btn {
  display: flex;
  align-items: center;
  background-color: #e9e9e9;
  border: none;
  padding: 4px 4px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 10px;
}

.addContext-btn p {
  margin: 0;
  margin-left: 10px;
}

.text-area-div {
  margin-top: 10px;
  position: relative;
  width: 100%;
  height: 23.6rem;
}

.text-area {
  width: 96.6%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  min-height: 60px;
  position: absolute;
  bottom: 0px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.chatbot-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 18rem;
  overflow-y: scroll;
}

.user-message {
  background-color: #e9e9e9;
  border-radius: 50px;
  margin-bottom: 10px;
  font-size: 12px;
  align-items: end;
  padding: 2px 10px;
  width: fit-content;
  max-width: 15rem;
  font-size: 12px;
}

.bot-message {
  background-color: #f0f0f0;
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 12px;
}

.text-area:focus {
  outline: none;
  border-color: #4a90e2;
  box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
}

.search-div {
  align-items: end;
  display: flex;
  position: absolute;
  bottom: 10px;
  left: 10px;
  justify-content: space-between;
  gap: 10px;
  width: 97%;
}

.type {
  display: flex;
  gap: 10px;
}

.language-options-div {
  display: flex;
  gap: 10px;
}

#selection-popup {
  position: absolute;
  background: white;
  border: 1px solid #ddd;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  padding: 5px;
  border-radius: 6px;
  z-index: 999999;
  display: flex;
  gap: 8px;
}

#selection-popup button {
  color: white;
  border: none;
  padding: 5px 8px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
}

.btn {
  background-color: #1955db; /* Green */
  border: none;
  color: white;
  padding: 6px 16px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 12px;
}

.send-btn {
  border: none;
  color: #1955db;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
